APP_PORT=3022
APP_BIND=127.0.0.1
SQLITE_HOST_DIR=/Users/zhoulin/projects/交易空间/database/TradingReview
COMPOSE_PROJECT_NAME=tradereview
APP_RELEASE_CONTEXT=./app/current
DEBIAN_MIRROR=mirrors.aliyun.com
RELEASES_TO_KEEP=5
BACKUP_RETENTION_DAYS=30
